<app-header></app-header>
    <!--body-->
    <div class="row" style="margin-left: 65px;margin-right:0px;margin-bottom: 50px;padding-top: 50px">
    <div class="col-md-7 container" style="padding-top: 50px">
        <img src="./assets/image/pc.jpg" width="100%">
        <p style="padding-top: 30px">
                Điều kiện học hạn hẹp? Chi phí học hành quá cao? Quên đi những việc đó đi, đây là thời đại công nghệ mà, chúng ta hoàn toàn có thể tìm được kiến thức cần thiết cho mình trên internet, hoặc là một khóa học hẳn hoi từ các trường đào tạo. <br> <br> 

                Những website của chúng tôi là công cụ đơn giản cung cấp cho bạn lượng kiến thức về mọi lĩnh vực từ khoa học, kinh tế, nghệ thuật, xã hội cho đến những xu hướng công nghệ mới nhất, hoàn toàn miễn phí hoặc với chi phí cực thấp so với việc đi học ở trường hay các trung tâm. <br><br> 
                
                Điều đặc biệt là nhiều nền học online cho phép người dùng có thể học trên điện thoại với các bài học được chia nhỏ theo thời lượng vài phút hay 1 tiếng khiến cho việc học của bạn trở nên thú vị và cực kỳ linh hoạt ngay cả khi bạn phải di chuyển. <br><br> 
                
                Không còn lí do gì biện hộ cho việc không có cơ hội học thứ này thứ kia hay lười biếng nữa. Không cần phải lên lớp học gò bó, bạn hoàn toàn có thể ngồi ở nhà, ở bất cứ đâu mà vẫn theo học được các chương trình đào tạo trực tuyến chất lượng. <br><br> 
                
                Hãy cùng đăng kí để có được các nguồn học và những trải nghiệm tuyệt vời nhé. <br><br> 
        </p>
    </div>
    <div class="container col-md-5">
    
      <div class="dangki" >
            <div class="">
                    <form action="/action_page.php" class="was-validated">
                      <div class="form-group">
                        <label for="uname">Họ tên:</label>
                        <input type="text" class="form-control" id="uname" placeholder="Vui lòng nhập họ tên" name="uname" required>
                       
                      </div>
                      <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="email" placeholder="Vui lòng nhập Email" name="email" required>
                        
                      </div>
                      <div class="form-group">
                        <label for="pwd">Mật khẩu:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Vui lòng nhập password" name="pswd" required>
                        
                      </div>
                      <div class="form-group">
                            <label for="setpwd">Nhập lại mật khẩu:</label>
                            <input type="password" class="form-control" id="setpwd" placeholder="Vui lòng nhập lại password" name="setpswd" required>
                           
                          </div>
                     
                      <button type="submit" class="btn btn-success">Đăng kí</button>
                    </form>
                  </div>
      </div>
      <h2 style="padding-top: 28px;color: #66b2e1;padding-bottom: 12px;border-bottom: 1px #66b2e1 solid;">Tin tức mới</h2>
      
      <iframe class="iframes" src="https://news.zing.vn" frameborder="0" allowtransparency="true" scrolling="no"
        width="100%" height="500px">
        <p>Your browser does not support iframes.</p>
      </iframe>
    </div>
    </div>
    <!--end body-->      
