<div class="container-fluid banner">
    <img src="./assets/image/banner.jpg" width="100%" height="auto">
  </div>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top" style="opacity: .95;">

    <div class="row" style="width:100%">
      <div class="navbar-nav col-md-9">
        <div class="nav-item">
          <a class="nav-link" routerLink="/trangchu"> <img src="./assets/image/logoaztest.png" width=150px>Trang chủ</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/gioithieu">Giới thiệu</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/gopy">Liên hệ</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/menumonhoc" [hidden]='an'>Khóa học của bạn</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="navbar-nav">
          <a class="nav-link" id="login" data-toggle="modal" data-target="#myModal"><i class="fa fa-user-circle"
              aria-hidden="true"></i>{{dangnhap}}</a>
        </div>
      </div>
    </div>

  </nav>