<div class="col-md-3">
    <div class="cha">
            <div class="top">
            Khóa học mới nhất
            </div>
            <div class="bot">
            -Css3<br />
            -BootsTrap4<br />
            -Scss<br/>
            -Angular<br />
            -VueJs<br />
            -React<br />
            </div>
            </div>
    <div class="cha">
            <div class="top">
            Khóa học đăng kí nhiều nhất
            </div>
            <div class="bot">
            -Python<br />
            -PHP<br />
            -Java<br/>
            -C#<br />
            -C++<br />
            </div>
            </div>
    <div class="cha">
            <div class="top">
            Khóa giảm giá nhiều nhất
            </div>
            <div class="bot">
            -FrameWord<br />
            -MySql<br />
            -SqlSever<br/>
            -MongoDB<br />
            </div>
            </div>
</div>