<footer class="footer">
    <div class="container row">
      <div class="col-2">
        <h6>VỀ CHÚNG TÔI</h6><br>
        Liên hệ <img src="./assets/image/logoaztest.png" width=70px>.vn<br>
        Giới thiệu <img src="./assets/image/logoaztest.png" width=70px><br>
        Quy chế hoạt động
      </div>
      <div class="col-3">
        <h6>DÀNH CHO NGƯỜI MUA</h6><br>
        Giải quyết khiếu nại<br>
        Hướng dẫn mua hàng<br>
        Chính sách đổi trả<br>
        Chăm sóc khách hàng<br>
        Nạp tiền điện thoại
      </div>
      <div class="col-3">
        <h6>DÀNH CHO NGƯỜI BÁN</h6><br>
        Mở bài thi trên <img src="./assets/image/logoaztest.png" width=70px><br>
        Quy định đối với người bán<br>
        Chính sách bán hàng<br>
        Hệ thống tiêu chí kiểm duyệt
      </div>
      <div class="col-4">
        <h6>ĐĂNG KÝ NHẬN BẢN TIN ƯU ĐÃI KHỦNG TỪ <img src="./assets/image/logoaztest.png" width=70px></h6>
        <input type="text" class="phieu" placeholder="Email" style="
                border-radius: 9px;
                border: 1px solid #47a042;
                padding: 3px;
                width: 100%;">
      </div>
    </div>
  </footer>

  <footer class="footer">
    <div class="container" style=" text-align:right;">
      Copyright © 2012 <img src="./assets/image/logoaztest.png" width=70px>.vn<br />

      Công ty Cổ phần Công nghệ AZtest, thành viên của Tập đoàn <img src="../assets/image/fpticon.svg"><br />

      Số ĐKKD: 0312776486 - Ngày cấp: 13/05/2014, được sửa đổi lần thứ 6, ngày 23/05/2016.<br />

      Cơ quan cấp: Sở Kế hoạch và Đầu tư TPHCM.<br />

      Địa chỉ: Tòa nhà FPT Tân Thuận, Lô 29B-31B-33B, Đường Tân Thuận, KCX Tân Thuận, Phường Tân Thuận Đông, Quận 7,
      Tp.HCM.<br />

      Email: lienhe@ <img src="./assets/image/logoaztest.png" width=70px>.vn<br />

    </div>
  </footer>
  <footer style="margin-top:30px; margin-bottom:50px">
    <div class="container">
      <div class="row" style="margin-left:0">
        <div class=" col-md-9">
          <div class="cachthucvanchuyen">
            <b>CÁCH THỨC THANH TOÁN</b><BR>
            <ul>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/matercard.png">
              </li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/visa.png"></li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/jcb.png"></li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/napas.png"></li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/vietcom.png">
              </li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/tpbank.png">
              </li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/vietinbank.png">
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
          <div class="doitacvanchuyen">
            <b>ĐỐI TÁC VẬN CHUYỂN</b>
            <ul>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/vnp.png"></li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/vt.png"></li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/ghn.png"></li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/nj.png"></li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/dlh.png"></li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/vc.png"></li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/ahamove.png">
              </li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/grap.png"></li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/jvt.png"></li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/sl.png"></li>
              <li class="phuongthucthanhtoan"><img class="phuongthucthanhtoan_img" src="../assets/image/ship.png"></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <b style="margin-left: 70px;">CHỨNG NHẬN</b>
          <img src="../assets/image/dadangki.gif">
          <img src="../assets/image/noikhong.png">
        </div>
      </div>
    </div>
  </footer>
  <footer style="border-top:1px #ccc solid; margin-bottom:50px">
    <div class="container" style="margin-top:20px;">
      <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator"
        data-width="100%" data-numposts="5"></div>
    </div>
  </footer>
  <footer style="border-top:1px #ccc solid; margin-bottom:50px">
    <div class="container" style="margin-top:20px;">
      <button class="btn mg_20">Đồng Hồ</button>
      <button class="btn mg_20">SHOPPING Mall </button>
      <button class="btn mg_20">Hãy Trao Cho Anh </button>
      <button class="btn mg_20">OPPO</button>
      <button class="btn mg_20">Tivi</button>
      <button class="btn mg_20">Mỹ phẩm hàn quốc</button>
      <button class="btn mg_20">Kem chống nắng</button>
      <button class="btn mg_20">Chợ Tốt</button>
      <button class="btn mg_20">Nước hoa</button>
      <button class="btn mg_20">Innisfree</button>
      <button class="btn mg_20">Đồ chơi</button>
      <button class="btn mg_20"> nấu ăn</button>
      <button class="btn mg_20">Laptop</button>
      <button class="btn mg_20">IPhone 6</button>
    </div>
  </footer>