.img{
    width: 100%;
    height: 300px;
}.tablefft{
    left: 0;
    z-index: 9999;
    position: fixed;
    bottom: 150px;
}
.fa{
    padding-right: 5px;
}
.ok{
	width:50px;
	height:50px;
	
	color:white;
	border:1px soild #ccc;
	transition:width 2s;
	padding: 10px;
    text-align: center;
}
.ok:hover{
	width:65px;
	height:50px;
	color:white;
	border:1px soild #ccc;
	padding: 10px;
    text-align: center;
}
.fb{background-color:rgb(59, 89, 152);}
.ms{background-color:rgb(0, 132, 255);}
.ggle{background-color:red}
.link{background-color:rgb(23, 139, 244);}
.in{background-color:rgb(0, 119, 181);}
.cha{
    border-top-right-radius: 20px;
    height: 300px;
    border: 1px solid orange;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 20px;
}
.top{
	width: 100%;
    height: 31px;
    background: orange;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    color: #fff;
    font-weight: 600;
}
.bot{
    height: 350px;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    font-family: auto;
}
.dethithu{
    height: 500px;
    text-align: center;
    font-family: monospace;
    padding-top: 50px;
}
.buttonlambai{
    height: 50px;
    width: 250px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.container-fluid {
    width: 82%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-left: 10%;
    margin-right: 10%;
}
.mess {
    bottom: 0;
    z-index: 3000;
    bottom: 0;
    margin-left: 0px;
    float: right;
    z-index: 3000;
    background-color: #2ea0ed;
    width: 30%;
    opacity: .8;
    color: #fff;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}
.messb {
    bottom: 0;
    margin-left: 0px;
    float: right;
    z-index: 3000;
    background-color: #2ea0ed;
    width: 30%;
    height: 250px;
    opacity: .8;
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
    border: 1px #ccc solid;
}
.col-md-3,.col-md-9{
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.gioithieu{
    margin-top: 10px;
    margin-bottom: 10px;
}
.duongcong{
    border-top-left-radius: 32%;
    border-bottom-right-radius: 32%;
    box-shadow: 2px 5px;
    margin-top: 20px;
}
.container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}