<app-header></app-header>
  <!--body-->
  <div class="row" style="margin-left: 65px;margin-right:0px;">
  <app-tableft></app-tableft>
    <div class="col-md-9 container">
      <div class="gioithieu row">
        <img src="./assets/image/4ng.png" width="100%">
      </div>
      <!--ss1-->
      <div class="gioithieu row">
        <div class="col-md-9">
          <h2 class="text-success">01: Sợ hãi</h2>
          <p>Một nửa trong bạn mong mình có tài năng, đủ sức tỏa sáng nhưng lại không dám xông pha, bứt phá và vượt lên
            so với đứa bên cạnh.
            Nguyên nhân của thất bại đôi khi không nằm ở sai lầm mà chính là tâm lý sợ hãi không dám phạm sai lầm của
            chính bạn.</p>
        </div>
        <div class="col-md-3"><img src="./assets/image/ss1.jpeg" width="100%" class="duongcong"></div>
      </div>
      <!--ss2-->
      <div class="gioithieu row">
        <div class="col-md-9">
          <h2 class="text-success">02: Luôn kiếm cớ</h2>
          <p> Bằng cách không ngừng bào chữa, kiếm cớ cho sai lầm của bản thân, mong rằng có thể che giấu sự thiếu hiểu
            biết của mình, tự an ủi bản thân. Tất cả những ai như vậy đều có một số điểm chung như là:
            không có sự chuyên nghiệp, không có lòng kiên trì và không có niềm tin vững chắc vào công việc cũng như cuộc
            sống.</p>
        </div>
        <div class="col-md-3"><img src="./assets/image/ss2.jpg" width="100%" class="duongcong"></div>
      </div>
      <!--ss3-->
      <div class="gioithieu row">
        <div class="col-md-9">
          <h2 class="text-success">03: Do dự</h2>
          <p> Do dự và băn khoăn quá nhiều, chúng ta sẽ đánh mất sự chủ động trong cách giải quyết vấn đề,
            để lỡ những cơ hội quý giá vào tay kẻ khác. Đừng biến do dự trở thành nguyên nhân hủy diệt sự tiến bộ của
            trí tuệ và văn minh.</p>
        </div>
        <div class="col-md-3"><img src="./assets/image/ss3.jpg" width="100%" class="duongcong"></div>
      </div>
      <!--ss4-->
      <div class="gioithieu row">
        <div class="col-md-9">
          <h2 class="text-success">04: Lười biếng học hỏi</h2>
          <p> Học là sự nghiệp cả đời người. Nhưng học cái gì? Học như thế nào?
            Học làm được gì? Đó chính là cả một nghệ thuật. Người học cao chưa chắc đã thành công nhưng không học chắc
            chắn thất bại. </p>
        </div>
        <div class="col-md-3"><img src="./assets/image/ss4.jpeg" width="100%" class="duongcong"></div>
      </div>
    </div>
  </div>
  <div class="gioithieu row">
    <img src="./assets/image/nhanduocgi.png" width="100%">
  </div>
  <div class="gioithieu" style="margin-left: 15%;margin-right: 15%">
    <h2 class="text-success">CẢM NHẬN CỦA HỌC VIÊN <br>
      VỀ KHÓA HỌC TỪ <img src="./assets/image/logoaztest.png" width=200px></h2>
    <div class="row">
      <div class="col-md-6"><iframe width="100%" height="321" src="https://www.youtube.com/embed/pM9MnKjVkv8"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe></div>
      <div class="col-md-6">
        <iframe width="100%" height="321" src="https://www.youtube.com/embed/nkIL2NdY55s" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"><iframe width="100%" height="321" src="https://www.youtube.com/embed/Zv6wGSIB3SQ"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe></div>
      <div class="col-md-6">
        <iframe width="100%" height="321" src="https://www.youtube.com/embed/k8IZzEK3aWM" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>


  </div>
  <!--end body-->
  